body {
    direction: rtl;
    background-color: darkslategrey;
}
p {
    font-size: 12pt;
    color:aqua;
}
pre{
    font-size: 12pt;
    color:aqua;
}
h1 {
    color: rgb(156, 162, 255);
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
}
h2 {
    color: rgb(220, 138, 236);
    font-size: 20pt;
    font-weight: bold;
    text-align: justify;
}
h3 {
    color: rgb(220, 138, 236);
    font-size: 16pt;
    font-weight: bold;
    text-align: justify;
}
h4 {
    color: rgb(220, 138, 236);
    font-size: 14pt;
    font-weight: bold;
    text-align: justify;
}
h5 {
    color: rgb(220, 138, 236);
    font-size: 12pt;
    font-style: italic; 
    font-weight: bold;
    text-align: justify;
}
h6 {
    color: rgb(220, 138, 236);
    font-size: 12pt;
    font-style: italic; 
    text-align: justify;
}
ol {
    font-size: 12pt;
    color:aqua;
}